*{
    font-family: 'Architects Daughter', cursiva;

}
html.body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.parallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    
}
#seccion1{
    background-image: url(../imagen/img0.jpg);
    height: 690px;
}
#seccion2{
    background-image: url(../imagen/img2.jpg);
    height: fit-content;
}

#seccion3{
    background-image: url(../imagen/img1.png);
    height: fit-content;

   
}
#seccion4 h1{
    font-size: 30px;
    color: yellowgreen;
}

#seccion4{
    background-image: url(../imagen/img3.jpg);
    height: fit-content;
    padding-top:40px;
    padding-bottom: 0;
}

.h{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: rgb(42, 85, 165);
}

.tituloprincipal{
    font-weight: 600;
    color: 17b7ec;
    margin-top: 80px;
    background-color: rgb(255,255,255);
    font-size: 40px;
}

.into{
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    
}
.into .img{
 width: 22%;
 height: auto;
 margin-left: 20px;
 text-justify: distribute-all-lines;
}
.con0{
    display: flex;
    flex-direction: row;
}
.con0 .p{
    padding: 20px;
    background-color: rgba(17, 201, 201, 0.541);
    color: white;
}
.con0 .p h1{
    color: rgb(57, 105, 105);
    font-size: 35px;
}

.con{
    display: flex;
    flex-direction: row;
    
}

.con2{
    display: flex;
    flex-direction: row-reverse;
}
.img2{
    padding: 20px;
    width: 28%;
    margin: 0 60px;
}
.con div, .con2 div{
    padding: 15px;
    background-color: #3d2d3385;
    color: white;
    height: fit-content;
}

.into div{
    width: 20%;
    padding: 5px;
    border: solid 3.5px rgb(42, 85, 165);
    background-color: rgba(255, 255, 255);
    color: rgb(42, 85, 165);
    margin-left: 20px;
}
.img h1{
    color: rgb(42, 85, 165);
}
@media screen and (max-width: 800px)
{
    #seccion1{
        background-image: url(../imagen/sintomas2.jpg);
        height: 1500px;
        background-size: contain;
    }
    .into{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .into .img{
        width: 82%;
        height: auto;
        margin: 0px;
        text-justify: distribute-all-lines;
    }
    .h{
        flex-direction: column;
    }
    .img2{
        display: none;
    }
}
