
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cover1{
    width: 100%;
    background-image: url(../imagen/fondo.png);
    background-size: cover;
    padding: 20px 0px;
}
.containero{
    margin-top: 25px;
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    
    width:50%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    cursor: default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 5,5,20,rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenidoc{
    padding: 15px;
    text-align: center;

}
.card .contenidoc p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenidoc h3{
    font-weight: 400;
    margin-bottom: 15px;
}
@media screen and (max-width: 800px)
{
   .card{
       width: 90%;
   }
   .containero{
       flex-direction: column;
   }
}
