*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover{
    width: 100%;
    height: auto;
    background-image: url(../imagen/slider1.jpg);
    padding: 20px 0px;
}
.cover1{
    width: 100%;
    height:700px;
    background-image: url(../imagen/slider2.jpg);
    padding: 20px 0px;
}
.contenido{
    background-color: rgb(52, 52, 52);
    color: white;
    width: fit-content;
    margin: 100px 150px;
    padding: 20px;
    position: static;
    border-radius: 1%;
    box-shadow: 8px 8px rgba(128, 128, 128, 0.39);
}
.anexo img{
    width: 100%;
    height: 220px;
    
}
.contenido h1{
    font-weight: 20px;
}
.contenido:hover{
    transform: translateY(-3%);
}

@media screen and (max-width: 800px)
{
    .contenido{
        width: 80%;
        margin: 20px 40px;
    }
    .cover{
        height: auto;
    }
    .cover1{
        height: auto;
    }
}






